librarycloud.files.basepath=/Users/jlicht/Documents/pod/Development/harvard/librarycloud/files
librarycloud.sqs.environment=jlicht-2014-11-06
librarycloud.s3.marc_bucket=harvard.librarycloud.marc
librarycloud.s3.cache_bucket=harvard.librarycloud.cache
solr_url=http://localhost:8983/solr/lcommons
#solr_url=http://church.hul.harvard.edu:8983/solr/librarycloud
holdings_url=http://hlslwebtest.law.harvard.edu/v2/api/holdings
solr_holdings_url=http://localhost:3000/solr/holdings
solr_extensions_url=http://localhost:3000/solr/extensions
item_url=http://hlslwebtest.law.harvard.edu/v2/api/item
collections_url=http://localhost:8080/collections/v2
aws.access.key=foo
aws.secret.key=bar
# development only:
# aws.sqs.endpoint=http://localhost:9324
# aws.sns.endpoint=http://localhost:4575
# aws.s3.endpoint=http://localhost:4572