librarycloud.files.basepath=/Users/jlicht/Documents/pod/Development/harvard/librarycloud/files
librarycloud.sqs.environment=jlicht-2014-11-06
solr_url_librarycloud=http://localhost:8983/solr/lcommons
#solr_url_librarycloud=http://church.hul.harvard.edu:8983/solr/librarycloud
solr_url_collections1=http://localhost:8983/solr/collections1
#solr_url_collections1=http://church.hul.harvard.edu:8983/solr/collections1
holdings_url=http://hlslwebtest.law.harvard.edu/v2/api/holdings
item_url=http://hlslwebtest.law.harvard.edu/v2/api/item
collections_url=http://localhost:8080/collections/v2
